:root {
    --main-purple: #6706e9;
    --light-purple: #9a57f0;
    --light-grey: #f4f4f9;
    --dark-grey: #cfcfda;
    --black-color: #000000;
    --white-color: #ffffff;
    --main-green: #06e670;
    --dark-green: #049c4e;
}
body {
    background-color: var(--light-grey); 
    color: var(--black-color);  
    font-family: 'Arial', sans-serif;
}

/* HEADER */
header {
    /* background: linear-gradient(25deg, var(--main-purple), #000000); */
    background: linear-gradient(25deg, var(--main-purple), var(--main-green));
    color: var(--white-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}




/* FOOTER */

footer {
    background-color: var(--light-grey);
    /* background-color: #b3b3b3; */
    color: var(--white-color);
    padding: 1.5rem 0;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.footer-link a {
    color: var(--light-purple); 
    /* color: var(--main-green); */
    text-decoration: none;
}

.footer-link a:hover {
    color: var(--main-purple); 
}

/* Текст в футере */
.footer-text {
    color: var(--black-color); 
    text-align: center;
    margin-top: 10px;
}

/* links */
.reg-link{
    color: var(--light-purple) !important; 
    text-decoration: none !important;
}
.reg-link:hover{
    color: var(--main-purple) !important;
    text-decoration: none !important; 
}
.log-link{
    color: var(--light-purple) !important; 
    text-decoration: none !important;
}
.log-link:hover{
    color: var(--main-purple) !important;
    text-decoration: none !important; 
}

/* Navigation */
.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--main-purple) !important; 
    background-color: var(--light-grey) !important;
    opacity: .99 !important;
}

.nav-link:not(:hover) {
    color: white; 
}

/* cards */
.feature {
    background-color: var(--light-grey); 
    color: var(--black-color); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px); 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); 
}

.fs-2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black-color); 
}

.text-body-emphasis {
    color: #333333;
}

.icon-link.text-main-purple {
    color: var(--light-purple); 
    font-weight: bold;
    text-decoration: none;
}

.icon-link.text-main-purple:hover {
    /* color: #5a05c6;  */
    color: var(--main-purple);
    text-decoration: none;
}
.login-link-button{
    background-color: var(--light-purple);
    /* background: linear-gradient(25deg, var(--light-purple), var(--main-green)); */
    /* background-color: var(--white-color); */
    /* color: var(--white-color); */
    color: var(--white-color);
    border: linear-gradient(25deg, var(--light-purple), var(--main-green)) !important; 
    border-radius: 8px; 
    padding: 12px 24px; 
    font-size: 16px; 
    text-decoration: none;

}
.login-link-button:hover{
    background-color: var(--main-purple);
    /* background: linear-gradient(25deg, var(--light-purple), var(--main-green)); */
    color: var(--white-color);
    border: none; 
    border-radius: 8px; 
    padding: 12px 24px; 
    font-size: 16px; 
    text-decoration: none;
}

.register-link-button{
    background-color: var(--main-green);
    /* background: linear-gradient(25deg, var(--main-green), var(--light-purple)); */
    color: var(--white-color);
    border: none; 
    border-radius: 8px; 
    padding: 12px 24px; 
    font-size: 16px; 
    text-decoration: none;
}
.register-link-button:hover{
    background-color: var(--dark-green);
    /* background: linear-gradient(25deg, var(--dark-green), var(--main-purple)); */
    color: var(--white-color);
    border: none; 
    border-radius: 8px; 
    padding: 12px 24px; 
    font-size: 16px; 
    text-decoration: none;
}


.login-button{
    background-color:var(--light-purple); 
    color: var(--white-color);
    border: none; 
    border-radius: 4px;
}
.login-button:hover{
    background-color:var(--main-purple)
}
.login-textarea{
    border:none;
    border-radius:4px;
    border-color:#333333;
}
/*login page*/
.login-container {
    margin: auto;
    width: 300px;
    padding: 20px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    text-align: center;
    color: var(--black-color);
    background-color: var(--light-grey);
}

.register-button{
    background-color:var(--main-green); 
    color: var(--white-color);
    border: none; 
    border-radius: 4px;
}
.register-button:hover{
    background-color:var(--dark-green)
}


/*register page*/
.register-container {
    margin: auto;
    width: 300px;
    padding: 20px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    text-align: center;
    color: var(--black-color);
    background-color: var(--light-grey);
    /* background: linear-gradient(45deg, var(--black-color), var(--main-purple))*/
}
.logout-btn{
    background-color:#e90667; 
    color: var(--white-color);
    border: none; 
    border-radius: 8px; 
    padding: 12px 24px; 
    font-size: 16px; 
    text-decoration: none;
}
.submit-button{
    background-color:var(--main-green); 
    color: var(--white-color);
    border: none; 
    border-radius: 8px; 
    padding: 12px 24px; 
    font-size: 16px; 
    text-decoration: none;
}
.submit-button:hover{
    background-color:var(--dark-green)
}

/* About Section */
.about-section {
    background: linear-gradient(135deg, #f1f1f1, #e0e0e0);
    padding: 3rem 2rem;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
    font-family: 'Arial', sans-serif;
    color: var(--main-purple);
}

.about-section h2 {
    color: var(--main-purple);
    font-weight: 500;
}

.about-section p {
    color: var(--black-color);
    font-size: 1.1rem;
}
