:root {
    --main-purple: #6706e9;
    --light-grey: #f4f4f9;
    --black-color: #000000;
    --white-color: #ffffff;
}
body {
    background-color: var(--light-grey); 
    color: var(--black-color);  
    font-family: 'Arial', sans-serif;
}

/* HEADER */
header {
    background: linear-gradient(45deg, #6706e9, #000000);
    color: var(--white-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}




/* FOOTER */
footer {
    background-color: var(--light-grey);
    color: var(--white-color);
    padding: 1.5rem 0;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}
.nav-link{
    color: white;
    text-decoration: none;

}
.nav-link:hover{
    color: var(#6706e9);
    background-color: lightgray;
}
.nav-link:not(hover){
    color:white;
}
.footer-link{
    color: var(--black-color);
    margin: auto;
    text-align:center;
    text-decoration: none;
}

/* cards */
.feature {
    background-color:var(--black-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.feature:hover {
    transform: translateY(-10px);
}

/* cards texts */
.fs-2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-body-emphasis {
    color: var(--black-color);
}

/*login page*/
.login-container {
    margin: auto;
    width: 300px;
    padding: 20px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    text-align: center;
    color: var(--black-color);
    background-color: var(--light-grey);
}
/*register page*/
.register-container {
    margin: auto;
    width: 300px;
    padding: 20px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    text-align: center;
    color: var(--black-color);
    background-color: var(--light-grey);
    /* background: linear-gradient(45deg, var(--black-color), var(--main-purple))*/
}