{% extends 'base.html' %} {% block title %} Edit Article {% endblock %} {% block
body %}
<div class="container">
  <h1>Edit Article</h1>
  <form method="POST" enctype="multipart/form-data">
    <p>
      You are logged in as {{ session['username'] }}!
      <a style="color:#e90667" href="/logout">Logout</a>
    </p>
    <input
      type="text"
      name="title"
      id="title"
      class="form-control"
      value="{{article.title}}"
      placeholder="Title"
      required
    /><br />
    <textarea
      name="intro"
      id="intro"
      cols="30"
      rows="10"
      class="form-control"
      placeholder="Description"
      required
    >
{{article.intro}}</textarea
    ><br />
    <textarea
      name="text"
      id="text"
      cols="30"
      rows="10"
      class="form-control"
      placeholder="Body"
      required
    >
{{article.text}}</textarea>
  <br/>
  {% if article.photo %}
    <div>
      <img src="{{ article.photo }}" alt="Article Image" style="max-width: 300px;">
    </div>
  {% endif %}
  <input type="file" name="photo" id="photo" ё>
  <br/>
    <br/>
    <input type="submit" class="btn btn-success" value="Update" />
  </form>
</div>
{% endblock %}
