{% extends 'base.html' %} 
{% block title %} {{ article.title }} {% endblock %} 
{% block body %}
<div class="container">
  <div class="article-container">

    <h1>{{ article.title }}</h1>
    
    <p>{{ article.text }}</p>
    
    <p>{{article.username}}</p>
    <p id="post-date"><b>Date: {{ article.date.date() }}</b></p>
    {% if session.get('user_id') == article.author_id %} 
    <form action="/posts/{{ article._id }}/delete" method="POST" style="display:inline;">
      <button type="submit" class="login-link-button">Delete Article</button>
    </form>
    
    <form action="/posts/{{ article._id }}/edit" method="GET" style="display:inline">
    <button class="register-link-button">Edit Article</button>
    </form>

    {% endif %}
  </div>
</div>
{% endblock %}
