{% extends 'base.html' %} 
{% block title %} {{ article.title }} {% endblock %} 
{% block body %}
<div class="container">
  <h1>{{ article.title }}</h1>

  <div class="alert alert-info">
    <p>{{ article.text }}</p>
    
    {% if session.get('user_id') == article.author_id %} 
    <form action="/posts/{{ article._id }}/delete" method="POST" style="display:inline;">
      <button type="submit" class="btn btn-danger">Delete Article</button>
    </form>
    
    <a href="/posts/{{ article._id }}/edit" class="btn btn-success">Edit Article</a>
    {% endif %}
    <p><b>Date: {{ article.date.date() }}</b></p>
  </div>
</div>
{% endblock %}
