{% extends 'base.html' %}

{% block title %}
Articles Page
{% endblock %}

{% block body %}
<div class="container">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

    {% if articles|length > 0 %}
      {% for elem in articles %}
        <!-- Карточка для каждой статьи -->
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-purple bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection"></use>
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">{{ elem.title }}</h3>
          <p>{{ elem.intro }}</p>
          <p><b>Date: {{ elem.date.date() }}</b></p>
          <p><b>Author: {{ elem.author_username }}</b></p>
          <a href="/posts/{{ elem._id }}" class="icon-link text-main-purple">
            Read more
            <svg class="bi">
              <use xlink:href="#chevron-right"></use>
            </svg>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <!-- Сообщение, если статьи отсутствуют -->
      <div class="col">
        <div class="alert alert-warning text-center">
          <h3>No articles yet</h3>
          <p>Check back later for updates!</p>
        </div>
      </div>
    {% endif %}

  </div>
</div>
{% endblock %}
