{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block body %}
<div class="register-container">
<h1>Register</h1>
    <form method="POST" action="/register">
        <label for="username">Username:</label>
        <input class="login-textarea" type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input class="login-textarea" type="password" id="password" name="password" required>
        <br>
        <br>
        <button class="register-button" type="submit">Register</button>
    </form>
    <a href="/login" class="reg-link">Already have an account? Log in</a>
</div>
{% endblock %}